<a href="/dashboard">&larr; Back</a>
<div class="admin_title">
  <h2>View / Edit Post</h2>

  <div id="flash">
    <%= message %>
  </div>
  
  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="post">
    <input type="submit" value="DELETE" class="btn-delete btn" />
  </form>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="post">
  <label for="title"><b>Title</b></label>
  <input type="text" name="title" placeholder="Post Title" value="<%= data.title %>"/>

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

  <input type="submit" value="Update" class="btn" />
</form>


